* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #1e1b4b, #581c87);
  color: white;
  scroll-behavior: smooth;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}


/* Sections */
section {
  padding: 120px 20px;
  text-align: center;
}

.hero {
  padding-top: 120px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #22d3ee;
}

p {
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.6;
}

/* Buttons */
.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: linear-gradient(45deg, #a855f7, #ec4899);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Projects */
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: #1e293b;
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* Footer */
footer {
  padding: 50px;
  background: #0f172a;
}
